* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 5vw;
}

body {
    background-color: rgb(239 248 245);
}

.header,
main {
    width: 100%;
}

.header {
    font-size: 0.8rem;
}

.header__wrapper,
.accordion {
    width: 90%;
    margin: 0 auto;
}

.accordion {
    display: flex;
    flex-direction: column;
}

.line {
    width: 100%;
    margin: 0.5rem 0 0.5rem 0;
    border: 0.05rem solid #dbcece;
}

.box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1.06rem;
    overflow: hidden;
    transition: height .7s ease-in-out;
}

.box__wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
}

.btn {
    width: 1rem;
    background: url(../assets/svg/plus.svg) no-repeat center;
    transition: transform .7s;
}

.accordion__radio {
    display: none;
}

.accordion__radio:checked + .box {
    height: 19rem;
}

.accordion__radio:checked + .box .box__wrapper .btn {
    transform: rotate(45deg);
}

.box__img {
    margin: 0 auto;
    width: 18rem;
    height: 18rem;
}

@media (min-width: 500px) {
    html {
        font-size: 16px;
    }

    .header {
        font-size: 1.6rem;
    }

    .box {
        height: 1.65rem;
    }

    .box__wrapper {
        font-size: 1.24rem;
    }

    .box__img {
        width: 28rem;
        height: 28rem;
    }

    .accordion__radio:checked + .box {
        height: 29rem;
    }
}

@media (min-width: 821px) {
    .header__wrapper,
    .accordion {
        width: 45rem
    }

    .box__wrapper {
        color: blue;
        transition: color .7s;
    }

    .btn {
        display: none;
    }

    .accordion__radio:checked + .box .box__wrapper {
        color: black;
    }

    .accordion:hover .box .box__wrapper {
        color: black;
    }

    .accordion:hover .box .box__wrapper .btn {
        display: block;
    }

    .box:hover {
        height: 29rem;
        cursor: pointer;
    }

    .box:active {
        opacity: 0.5;
    }

    .accordion:hover {
        cursor: pointer;
    }
}